config instance 'client_example'
	option enabled '0'
	option role 'client'
	option local '127.0.0.1:51820'
	option remote 'server.example.com:4567'
	option tun ''
	option tun_local '192.168.200.1'
	option tun_peer '192.168.200.2'
	option ipv4_only '1'
	option log_level 'info'
	option respawn '1'

config instance 'server_example'
	option enabled '0'
	option role 'server'
	option local '4567'
	option remote '127.0.0.1:51820'
	option tun ''
	option tun_local '192.168.201.1'
	option tun_peer '192.168.201.2'
	option ipv4_only '1'
	option log_level 'info'
	option respawn '1'
